<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Inclusive Forms - Someday</title>
</head>
<body>
    <h1>{{ pageTitle }}</h1>
    <h2>{{ partner-name }}</h2>
    {{ content }}
    <h3>Chidren</h3>
    {{ recommendation-children }}
    <hr>
    {% include _form-race-children.html %}
</body>
</html>